  * {
      margin: 0px;
      padding: 0px;
      box-sizing: border-box;
  }
  
  svg {
      position: relative;
      margin: auto;
      left: 50%;
      top: 50vh;
      transform: translate3d(-50%, -50%, 0px);
      width: 47%;
      overflow: visible;
  }
  
  .group_1 {
      fill: #0088E3;
  }
  
  .group_2 {
      fill: #464646;
  }
  
  .group_3 {
      fill: #464646;
  }
  
  .path_1 {
      opacity: 0;
      animation: show 1s ease forwards;
      animation-delay: 0.5s;
  }
  
  .path_2 {
      opacity: 0;
      animation: show 1s ease forwards;
      animation-delay: 0.6s;
  }
  
  .path_3 {
      opacity: 0;
      animation: show 1s ease forwards;
      animation-delay: 0.7s;
  }
  
  .path_4 {
      opacity: 0;
      animation: show 1s ease forwards;
      animation-delay: 0.8s;
  }
  
  .path_10 {
      opacity: 0;
      animation: show 1s ease forwards;
      animation-delay: 0.9s;
  }
  
  .path_5 {
      opacity: 0;
      animation: show 1s ease forwards;
      animation-delay: 1s;
  }
  
  .path_6 {
      opacity: 0;
      animation: show 1s ease forwards;
      animation-delay: 1.1s;
  }
  
  .path_7 {
      opacity: 0;
      animation: show 1s ease forwards;
      animation-delay: 1.2s;
  }
  
  .path_8 {
      opacity: 0;
      animation: show 1s ease forwards;
      animation-delay: 1.3s;
  }
  
  .path_9 {
      opacity: 0;
      animation: show 1s ease forwards;
      animation-delay: 1.4s;
  }
  
  .parth_11 {
      opacity: 0;
      animation: show 1s ease forwards;
      animation-delay: 1.4s;
  }
  
  .path_rocket {
      fill: #0088E3;
      z-index: 1000;
      opacity: 0;
      animation: show 1s 1s ease forwards;
  }
  
  .path_fire {
      opacity: 0;
      animation: show 1s 1s ease forwards;
  }
  
  .hoveredRocket {
      animation: rocket_power 0.9s ease-in;
  }
  
  .hoveredFire {
      animation: rocket_fire 0.9s ease-in;
  }
  
  @keyframes show {
      0% {
          opacity: 0;
      }
      100% {
          opacity: 1;
      }
  }
  
  @keyframes rocket_fire {
      0% {
          transform: translate3D(0px, 0px, 0px);
          opacity: 1;
      }
      50% {
          opacity: 1;
      }
      100% {
          transform: translate3D(380px, -380px, 0px);
          opacity: 0;
      }
  }
  
  @keyframes rocket_power {
      0% {
          transform: translate3D(0px, 0px, 0px);
          opacity: 1;
      }
      50% {
          opacity: 1;
      }
      100% {
          transform: translate3D(400px, -400px, 0px);
          opacity: 0;
      }
  }

@media only screen and (max-width: 960px) {
    svg {
        width: 70%;
    }
}
