@media only screen and (max-width: 1220px) {
    nav {
        width: 940px;
    }
    #footer_wrap {
        width: 940px;
    }
}

@media only screen and (max-width: 960px) {
    p {
        font-size: 1em;
    }
    .about #about_text {
        width: 90%;
    }
    .contact #contact_wrap {
        width: 90%;
    }
    
    #menu {
        z-index: 300;
    }
    
    nav {
        width: 90%;
        margin: 0% 5%;
        position: static;
        z-index: 100;
    }
    nav ul {
        position: absolute;
        width: 100vw;
        top: -60vh;
        left: 0;
        display: block;
        transition: none;
        z-index: -100;
    }
    nav li {
        width: 100%;
        text-align: center;
    }
    nav ul li a {
        width: 100%;
        background-color: rgba(245, 245, 245, 1);
    }
    
    nav ul li:last-child a {
        box-shadow: rgba( 0, 0, 0, 0.845) 0 2px 6px -2px;
    }
    
    .open_menu {
        top: 55px;
        position: absolute;
        left: 0;
        display: block;
        transition: all 1s;
        z-index: -100;
        width: 100vw;
    }
    
    nav #menu_btn {
        display: block;
        cursor: pointer;
    }
    #footer_wrap {
        width: 90%;
        margin: 0% 5%;
    }
    #footer_wrap #facebook {
        display: none;
    }
    #footer_wrap #copyright {
        float: none;
        text-align: center;
    }
}
