* {
    padding: 0;
    margin: 0;
}

body {
    height: 400vh;
    font-family: 'Roboto', sans-serif;
    background: rgba(245, 245, 245, 1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(245, 245, 245, 1) 0%, rgba(245, 245, 245, 0.99) 50%, rgba(204, 204, 204, 0.98) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(245, 245, 245, 1)), color-stop(50%, rgba(245, 245, 245, 0.99)), color-stop(100%, rgba(204, 204, 204, 0.98)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(245, 245, 245, 1) 0%, rgba(245, 245, 245, 0.99) 50%, rgba(204, 204, 204, 0.98) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(245, 245, 245, 1) 0%, rgba(245, 245, 245, 0.99) 50%, rgba(204, 204, 204, 0.98) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(245, 245, 245, 1) 0%, rgba(245, 245, 245, 0.99) 50%, rgba(204, 204, 204, 0.98) 100%);
    background: radial-gradient(ellipse at center, rgba(245, 245, 245, 1) 0%, rgba(245, 245, 245, 0.99) 50%, rgba(204, 204, 204, 0.98) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#cccccc', GradientType=1);
}

#wrap {
    background-image: url(../images/blackground-devrocket.svg);
    background-attachment: fixed;
}

a {
    text-decoration: none;
}


/*

inhoudsopgave

1 menu

2 header

3 about

4 portfolio

5 contact

*/


/*------ 1 nav -----*/

#menu {
    height: 60px;
    width: 100%;
    box-shadow: rgba( 0, 0, 0, 0.845) 0px 0px 8px;
    position: fixed;
    top: 0;
    left: 0;
    line-height: 60px;
    background-color: #FFF;
    z-index: 400;
}

nav {
    height: 100%;
    width: 1200px;
    margin: auto;
    position: relative;
}

nav a {
    height: 100%;
    display: inline-block;
}

nav #menu_btn {
    float: right;
    font-size: 2em;
    line-height: 60px;
    display: none;
}

nav ul {
    list-style-type: none;
    height: 100%;
    float: right;
}

nav ul li {
    display: inline-block;
    height: 100%;
}

nav ul li a {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    padding: 0 15px;
    transition: ease all 150ms;
}

nav ul li a:hover {
    color: #0088e3;
    border-bottom: #0088e3 3px solid;
}

.menu_logo {
    height: 45px;
    margin-top: 7.5px;
}


/*------------- end nav -----------*/


/*------ 2 header -----*/

header {
    width: 100%;
    height: 100vh;
    position: relative;
}

header div {
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
}

header div img {
    width: 45%;
    height: auto;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}


/*------------ end header ------------*/


/*---- 3 about ----*/

.about {
    height: 100vh;
    width: 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#383737+0,191818+100,e3eaed+100 */
    background: #383737;
    /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #383737 0%, #191818 100%, #e3eaed 100%);
    /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, #383737 0%, #191818 100%, #e3eaed 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #383737 0%, #191818 100%, #e3eaed 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#383737', endColorstr='#e3eaed', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    position: relative;
}

.about #about_text {
    color: white;
    text-align: center;
    margin: auto;
    width: 60%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.about #about_text h1 {
    margin: 5%;
}


/*---------- end about ----------*/


/*--- 4. portfolio ---*/

.portfolio {
    height: 100vh;
    width: 100%;
    text-align: center;
    position: relative;
}

.portfolio div {
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.portfolio h1{
	font-size: 35px;
}

.portfolio div a {
    width: 250px;
    display: inline-block;
    line-height: 70px;
    height: 70px;
    margin: 5%;
    color: white;
    font-weight: 800;
	transition: all 0.5s ease;
}

<<<<<<< HEAD
.portfolio div a:nth-child(2){
	border: thin solid #FFCC33;
	color: #FFCC33;
}

.portfolio div a:nth-child(2):hover{
	background: #FFCC33;
	color: #FFF;
	transition: all 0.5s ease;
    font-weight: 800;
    transition: ease all 150ms;
}

=======
>>>>>>> 6e0cf0d5685788119efa5dad4f394b098e52c680
.portfolio div #wds_btn {
    background-color: rgb(245, 245, 245);
    color: #FFCC33;
    border: solid 3px #FFCC33;
}

.portfolio div #wdv_btn {
    background-color: rgb(245, 245, 245);
    color: #A133FF;
    border: solid 3px #A133FF;
}

.portfolio div #wds_btn:hover {
    background-color: #FFCC33;
    color: #fff;
}

.portfolio div #wdv_btn:hover {
    background-color: #A133FF;
    color: #fff;
<<<<<<< HEAD
}

.portfolio div a:nth-child(3){
	border: thin solid #A133FF;
	color: #A133FF;
}

.portfolio div a:nth-child(3):hover{
	background: #A133FF;
	color: #FFF;
	transition: all 0.5s ease;
=======
>>>>>>> 6e0cf0d5685788119efa5dad4f394b098e52c680
}

/*------- end portfolio -------*/


/*--- 5. contact ---*/

.contact {
    border-top: solid 0.5px #95989A;
    height: 100vh;
    width: 100%;
    position: relative;
}

.contact #contact_wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.contact #line {
    width: 20%;
    height: 1px;
}

.contact #contact_wrap h1 {
    margin: 12% 0%;
}

.contact #contact_wrap i {
    font-size: 2em;
    margin: 12%;
    ;
}

.contact #contact_wrap #phone,
#mail {
    display: inline-block;
    margin: 10%;
}


/*------- end contact -------*/


/*--- 5. footer ---*/

footer {
    height: 55px;
    width: 100%;
    text-align: center;
    font-weight: 400;
    line-height: 55px;
    background-color: #474747;
    color: white;
}

#footer_wrap {
    width: 1200px;
    height: 100%;
    margin: auto;
}

#footer_wrap #facebook {
    float: left;
}

#footer_wrap #copyright {
    float: right;
}
