* {
    padding: 0;
    margin: 0;
}

::-moz-selection { /* Code for Firefox */
    color: white;
    background: #0088E3;
}

::selection {
    color: white; 
    background: #0088E3;
}

body {
    font-family: 'Roboto', sans-serif;
    background: rgba(245, 245, 245, 1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(245, 245, 245, 1) 0%, rgba(245, 245, 245, 0.99) 50%, rgba(204, 204, 204, 0.98) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(245, 245, 245, 1)), color-stop(50%, rgba(245, 245, 245, 0.99)), color-stop(100%, rgba(204, 204, 204, 0.98)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(245, 245, 245, 1) 0%, rgba(245, 245, 245, 0.99) 50%, rgba(204, 204, 204, 0.98) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(245, 245, 245, 1) 0%, rgba(245, 245, 245, 0.99) 50%, rgba(204, 204, 204, 0.98) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(245, 245, 245, 1) 0%, rgba(245, 245, 245, 0.99) 50%, rgba(204, 204, 204, 0.98) 100%);
    background: radial-gradient(ellipse at center, rgba(245, 245, 245, 1) 0%, rgba(245, 245, 245, 0.99) 50%, rgba(204, 204, 204, 0.98) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#cccccc', GradientType=1);
}

#wrap {
    background-image: url(../images/blackground-devrocket.svg);
    background-attachment: fixed;
}

a {
    text-decoration: none;
}


/*

inhoudsopgave

1 menu

2 header

3 about

4 portfolio

5 contact

*/


/*------ 1 nav -----*/

#menu {
    height: 60px;
    width: 100%;
    box-shadow: rgba( 0, 0, 0, 0.845) 0px 0px 8px;
    position: fixed;
    top: 0;
    left: 0;
    line-height: 60px;
    background: rgba(245, 245, 245, 1);
    z-index: 400;
}

nav {
    height: 100%;
    width: 1200px;
    margin: auto;
    position: relative;
}

nav a {
    height: 100%;
    display: inline-block;
}

nav #menu_btn {
    float: right;
    font-size: 2em;
    line-height: 60px;
    display: none;
}

nav ul {
    list-style-type: none;
    height: 100%;
    float: right;
    background-color: rgba(245, 245, 245, 1);
}

nav ul li {
    display: inline-block;
    height: 100%;
    background-color: rgba(245, 245, 245, 1);
}

nav ul li a {
    display: inline-block;
    text-decoration: none;
    color: black;
    background-color: rgba(245, 245, 245, 1);
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    padding: 0 15px;
    transition: ease all 150ms;
}

.active {
    color: #0088e3;
    border-bottom: #0088e3 3px solid;
}

nav ul li a:hover {
    color: #0088e3;
    border-bottom: #0088e3 3px solid;
}


.menu_logo {
    height: 45px;
    margin-top: 7.5px;
}


/*------------- end nav -----------*/


/*------ 2 header -----*/

header {
    width: 100%;
    height: 100vh;
    position: relative;
}

header div {
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
}

header div img {
    width: 45%;
    height: auto;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.subtitle{
	top: 63%;
    left: 50%;
    font-size: 150%;
    transform: translate(-50%, -63%);
	position: absolute;
    text-align: center;
	color: #474747;
    width: 80%;
	display: none;
}


/*------------ end header ------------*/


/*---- 3 about ----*/

.about {
    height: 100vh;
    width: 100%;
	background: url(../images/Programming.gif) no-repeat center center; 
	background-size: cover;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#383737+0,191818+100,e3eaed+100 */
    /* background: #464646;
    /* Old browsers */
    /* background: -moz-radial-gradient(center, ellipse cover, #363636 0%, #464646 100%, #565656 100%); 
    /* FF3.6-15 */
    /* background: -webkit-radial-gradient(center, ellipse cover, #363636 0%, #464646 100%, #565656 100%);
    /* Chrome10-25,Safari5.1-6 */
    /* background: radial-gradient(ellipse at center, #363636 0%, #464646 100%, #565656 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#464646', endColorstr='#151515', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    position: relative;
}

.about #about_text {
    color: white;
    text-align: center;
    margin: auto;
    width: 60%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.about #about_text h1 {
    margin: 5%;
}

.about #about_text a {
	color: #0088E3;
}

/*---------- end about ----------*/


/*--- 4. portfolio ---*/

.portfolio {
    position: relative;
    min-height: 50vh;
    height: auto;
    width: 100%;
    text-align: center;
	overflow: hidden;
	transition: all 1s ease-in-out;
}

.portfolio_toggle{
	height: 150vh;
}

.buttons {
    top: 20vh;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    position: relative;
}

.portfolio h1{
	font-size: 35px;
    position: relative;
    top: 10vh;
}

.buttons a {
    width: 250px;
    display: inline-block;
    line-height: 70px;
    height: 70px;
    margin: 5%;
    color: white;
    font-weight: 800;
	transition: all 0.5s ease;
	cursor: pointer;
	margin-bottom: 0px;
}

.buttons a:nth-child(2){
	border: thin solid #FFCC33;
	color: #FFCC33;
}

.buttons a:nth-child(2):hover{
	background: #FFCC33;
	color: #FFF;
	transition: all 0.5s ease;
    font-weight: 800;
}

.buttons #wds_btn {
    background-color: rgb(245, 245, 245);
    color: #FFCC33;
    border: solid 3px #FFCC33;
    transition: ease all 150ms;
}

.buttons #wdv_btn {
    background-color: rgb(245, 245, 245);
    color: #A133FF;
    border: solid 3px #A133FF;
    transition: ease all 150ms;
}

.buttons #wds_btn:hover {
    background-color: #FFCC33;
    color: #000;
}

.buttons #wdv_btn:hover {
    background-color: #A133FF;
    color: #fff;
}

.buttons a:nth-child(3){
	border: thin solid #A133FF;
	color: #A133FF;
}

.buttons a:nth-child(3):hover{
	background: #A133FF;
	color: #FFF;
	transition: all 0.5s ease;
}

.portfolio-container{
    position: relative;
    display: none;
    margin: auto;
    margin-top:105px;
    width: 100%;
    height: 100vh;
    background-color: #393939;
    box-shadow: inset 0px 10px 20px -5px rgba( 0, 0, 0, 0.8),
                inset 0px -10px 20px -5px rgba( 0, 0, 0, 0.8);
}

.wds-container{
    position: relative;
    overflow: hidden;
    display: none;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    width: 1200px;
    height: 75%;
    text-align: left;
}
.wds-persoon{
    position: relative;
    box-sizing: border-box;
    float: left;
    width: 32.33%;
    margin-left: 5px;
    margin-right: 5px;
    left: 0%;
    height: 100%;
    background-color: #FFCC33;
    cursor: pointer;
}
.wds-persoon .img-persoon{
    width: 100%;
}
.wds-persoon h5{
    position: relative;
    font-size: 1.3rem;
    text-align: center;
    line-height: 75px;
}

.wds-profile{
    top: 0px;
}
.wds-content{
    position: relative;
    z-index: 100;
    top: 100%;
    width: 299%;
    height: 100%;
    background-color: #FFCC33;
    margin: 0 0.665% 0 0.665%;
    padding-top: 50px;
    text-align: center;
    
    transition: ease all 300ms;
}
.alpay .wds-content{
    left: 0px;
}
.sam .wds-content{
    left: -100%;
}
.wouter .wds-content{
    left: -200%;
}
.wds-content-show{
    top: 0px;
}
.mockups-container{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.mockups-container .mockups{
    position: relative;
    bottom: 0px;
    float: left;
    width: 33.33%;
    height: auto;
    padding: 5px;
}


/*-------- wdv --------*/

.wdv-container{
    position: relative;
    overflow: hidden;
    display: none;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    width: 1200px;
    height: 75%;
    text-align: left;
    color: #fff;
}
.wdv-persoon{
    position: relative;
    box-sizing: border-box;
    float: left;
    width: 32.33%;
    margin-left: 5px;
    margin-right: 5px;
    left: 0%;
    height: 100%;
    background-color: #A133FF;
    cursor: pointer;
}
.wdv-persoon .img-persoon{
    width: 100%;
}
.wdv-persoon h5{
    position: relative;
    font-size: 1.3rem;
    text-align: center;
    line-height: 75px;
}

.wdv-profile{
    top: 0px;
}
.wdv-content{
    position: relative;
    z-index: 100;
    top: 100%;
    width: 299%;
    height: 100%;
    background-color: #A133FF;
    margin: 0 0.665% 0 0.665%;
    padding-top: 50px;
    text-align: center;
    
    transition: ease all 300ms;
}
.andy .wdv-content{
    left: 0px;
}
.thom .wdv-content{
    left: -100%;
}
.kevin .wdv-content{
    left: -200%;
}
.wdv-content-show{
    top: 0px;
}

/*------- end portfolio -------*/


/*--- 5. contact ---*/

.contact {
    border-top: solid 0.5px #95989A;
    height: 100vh;
    width: 100%;
    position: relative;
    
    background: rgba(245, 245, 245, 0.8);
}

.contact #contact_wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.contact #line {
    width: 20%;
    height: 2px;
    background-color: #0088E3;
    margin: 5% auto;
}

.contact #contact_wrap h1 {
    margin: 4% 0%;
}

.contact #contact_wrap i {
    font-size: 2em;
    margin: 12%;
    ;
}

.contact #contact_wrap #phone,
#mail {
    display: inline-block;
    margin: 10%;
}


/*------- end contact -------*/


/*--- 5. footer ---*/

footer {
    height: 55px;
    width: 100%;
    text-align: center;
    font-weight: 400;
    line-height: 55px;
    background-color: #474747;
    color: white;
}

footer #footer_wrap i { 
    color: #393939;
}

#footer_wrap {
    width: 1200px;
    height: 100%;
    margin: auto;
}

#footer_wrap #facebook {
    float: left;
}

#footer_wrap #copyright {
    float: right;
}
